<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- <bean id="..." class="...">
		collaborators and configuration for this bean go here
	</bean> -->

	<!-- beans -->
	<bean id="bananaBean" class="sud.learn.beans.Banana"></bean>
	
	<!-- constructor injection with reference -->
	<bean id="fruitBean" class="sud.learn.beans.Orange">
		<constructor-arg name="fruitName" value="RED-ORANGE" type="String"/>
		<constructor-arg name="fruitId" value="1001" type="int"/>
		<constructor-arg name="withSeeds" value="TRUE" type="boolean"/>
		<constructor-arg name="fruitService" ref="fruitService"/>
    </bean>
    
    <!-- setter injection with reference -->
    <bean id="appleBean" class="sud.learn.beans.Apple">
    	<property name="fruitName" value="Green-Apple"></property>
    	<property name="fruitId" value="1002"></property>
    	<property name="withSeeds" value="TRUE"></property>
    	<property name="fruitService" ref="fruitService"/>
    </bean>
    <!-- Bean reference is defined in another config xml -
    <bean id="fruitService" class="sud.learn.service.FruitService"/> -->
    
    
	

</beans>